<div>
  <%= image_tag url, alt: breed || "Invalid", class: "rounded-lg text-center m-auto max-w-64" %>
  <% if missing %>
    <p class="font-bold text-2xl text-rose-500 text-center"><%= missing %></p>
  <% else %>
    <p class="font-bold text-2xl text-center"><%= breed.humanize %></p>
  <% end %>
</div>