<% breed_names.each do |name| %>
  <div class="my-2">
    <%= link_to name.humanize, "#", data: { action: "click->debounce#selectOption", debounce_target: "breedOption", breed: name.humanize, turbo: false } %>
  </div>
<% end %>
