
<div class="shadow-md rounded-3xl grid grid-cols-2 grid-cols-1:md gap-4 items-center justify-items-center">
  <div>
    <%= render "dogs/search_form" %>
  </div>
  <div class="w-64 min-h-64 py-3" style="height:fit-content;">
    <%= turbo_frame_tag "preview" %>
  </div>
</div>